### TAREA 2 DE PANDAS ROBERTO MENDOZA

In [142]:
import pandas as pd
import numpy as np
import chardet

In [143]:
#Gettting the code of strings

rawdata = open(r'../../../data/fallecidos_covid.csv', 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']

In [144]:
relative_path = r'../../../data/fallecidos_covid.csv'
muertos_covid = pd.read_csv( relative_path,   delimiter = ';',  encoding = charenc )
muertos_covid

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,FECHA_NAC,DEPARTAMENTO,PROVINCIA,DISTRITO
0,20210302,cdbdc47c6c955a031f997677becb9065,20200729,64,MASCULINO,19551202.0,LIMA,LIMA,CHORRILLOS
1,20210302,a3aaeeedaba295f128635f5edbda6498,20200729,78,FEMENINO,19420118.0,LIMA,LIMA,COMAS
2,20210302,631e87aac1be2aabd19935a6a255a569,20200729,66,MASCULINO,19540503.0,LIMA,LIMA,COMAS
3,20210302,74c292a1a2c357a786b26a13fc839719,20200729,69,MASCULINO,19510314.0,LIMA,LIMA,COMAS
4,20210302,229e060d0ece75f752a790eab2e4470d,20200729,71,MASCULINO,19490215.0,LIMA,LIMA,COMAS
...,...,...,...,...,...,...,...,...,...
47084,20210302,5a88884f8b44e60cd1b48600e9f82275,20201125,49,MASCULINO,NaN,LIMA,LIMA,SAN MARTIN DE PORRES
47085,20210302,06a96fa92f5ee82a29386e177cdb700f,20201128,65,MASCULINO,NaN,LIMA,LIMA,MAGDALENA DEL MAR
47086,20210302,d192565dac6c74ed120c402cbbdd3115,20201128,60,FEMENINO,NaN,ANCASH,SANTA,NUEVO CHIMBOTE
47087,20210302,01be7035823ed5f7b5de812af513bd60,20201125,62,FEMENINO,NaN,LIMA,LIMA,SAN MARTIN DE PORRES
47088,20210302,80ef6326c8cf48002d98dce3a79b0369,20201125,66,FEMENINO,NaN,LIMA,LIMA,SAN MIGUEL

In [145]:
muertos_covid['UUID'].is_unique

True

In [34]:
muertos_covid['UUID'].isnull().sum()

0

#### Se puede observar que la variable UUID no se repite y, por tanto, identifica a cada persona. Asismimo, no existe missing. Por tanto, permite identifcar a las victimas sin posibles errores por omisiÃ³n.

### Â¿A quÃ© sexo pertenecen el mayor nÃºmero de fallecidos?

In [8]:
hombres = muertos_covid["SEXO"] == "MASCULINO"
mujeres = muertos_covid["SEXO"] == "FEMENINO"
muertos_covid["SEXO"].loc[hombres].count()

31754

In [9]:
muertos_covid["SEXO"].loc[mujeres].count()

15325

#### Se pÃºede observar que la mayor cantidad de fallecidos pertenece a los varones

### Dentro de los fallecidos de entre 30 y 60 aÃ±os, Â¿QuÃ© sexo es el que cuenta con mayor nÃºmero de fallecidos ?

In [10]:
hombres = muertos_covid["SEXO"] == "MASCULINO"
mujeres = muertos_covid["SEXO"] == "FEMENINO"
edad_1 = muertos_covid.iloc[:,3] < 60 
edad_2 = muertos_covid.iloc[:,3] > 30

In [11]:
muertos_covid["SEXO"].loc[mujeres].loc[edad_1 & edad_2].count()

3769

In [12]:
muertos_covid["SEXO"].loc[hombres].loc[edad_1 & edad_2].count()

9590

#### El sexo que mÃ¡s predomina entre los fallecidos de 30 y 60 aÃ±os es masculinno

### Â¿CuÃ¡ntas observaciones no cuentan con informaciÃ³n de fecha de nacimiento?

In [17]:
muertos_covid["FECHA_NAC"].isnull().sum()

15342

### Halla el total de fallecidos por departamento.

In [98]:
base = pd.DataFrame(muertos_covid.groupby( ["DEPARTAMENTO"] ).count())
base.rename(columns = {'UUID':'Muertos por departamento'}, inplace = True)
muertos_departamento=base[['Muertos por departamento']]
muertos_departamento

               Muertos por departamento
DEPARTAMENTO
AMAZONAS                            326
ANCASH                             1878
APURIMAC                            275
AREQUIPA                           2026
AYACUCHO                            504
CAJAMARCA                           801
CALLAO                             2495
CUSCO                               759
HUANCAVELICA                        231
HUANUCO                             764
ICA                                2277
JUNIN                              1537
LA LIBERTAD                        2863
LAMBAYEQUE                         2157
LIMA                              20593
LORETO                             1197
MADRE DE DIOS                       179
MOQUEGUA                            457
PASCO                               244
PIURA                              2425
PUNO                                630
SAN MARTIN                          895
TACNA                               596
TUMBES                              446
UCAYALI                             534

### Halla el total de fallecidos por provincia.

In [126]:
base = pd.DataFrame(muertos_covid.groupby( ["DEPARTAMENTO","PROVINCIA"] ).count())
base.rename(columns = {'UUID':'Muertos por provincia'}, inplace = True)
muertos_provincia=base[['Muertos por provincia']]
muertos_provincia

                               Muertos por provincia
DEPARTAMENTO PROVINCIA
AMAZONAS     BAGUA                               109
             BONGARA                              15
             CHACHAPOYAS                          44
             CONDORCANQUI                         22
             LUYA                                 22
...                                              ...
TUMBES       TUMBES                              322
             ZARUMILLA                            77
UCAYALI      ATALAYA                              10
             CORONEL PORTILLO                    432
             PADRE ABAD                           55

[205 rows x 1 columns]

### Halla el total de fallecidos por distrito.

In [127]:
base= pd.DataFrame(muertos_covid.groupby( ["DEPARTAMENTO","PROVINCIA","DISTRITO"] ).count())
base.rename(columns = {'UUID':'Muertos por distrito'}, inplace = True)
muertos_distrito=base[['Muertos por distrito']]
muertos_distrito

                                           Muertos por distrito
DEPARTAMENTO PROVINCIA        DISTRITO
AMAZONAS     BAGUA            ARAMANGO                       10
                              BAGUA                          60
                              COPALLIN                        4
                              IMAZA                          24
                              LA PECA                        11
...                                                         ...
UCAYALI      CORONEL PORTILLO YARINACOCHA                    93
             PADRE ABAD       CURIMANA                        2
                              IRAZOLA                         6
                              NESHUYA                         7
                              PADRE ABAD                     40

[1449 rows x 1 columns]

### Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto a la provincia (llamen a la columna distr_prov) que pertenecen. Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO y distr_prov.

In [137]:
base_1=muertos_covid.merge( muertos_departamento , how = 'left', on = 'DEPARTAMENTO' , indicator = False )
base_2=base_1.merge( muertos_provincia , how = 'left', on = ('DEPARTAMENTO','PROVINCIA') , indicator = False )
base_total=base_2.merge( muertos_distrito , how = 'left', on = ('DEPARTAMENTO','PROVINCIA','DISTRITO') , indicator = False )
base_total

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,FECHA_NAC,DEPARTAMENTO,PROVINCIA,DISTRITO,Muertos por departamento,Muertos por provincia,Muertos por distrito
0,20210302,cdbdc47c6c955a031f997677becb9065,20200729,64,MASCULINO,19551202.0,LIMA,LIMA,CHORRILLOS,20593,18517.0,634.0
1,20210302,a3aaeeedaba295f128635f5edbda6498,20200729,78,FEMENINO,19420118.0,LIMA,LIMA,COMAS,20593,18517.0,1216.0
2,20210302,631e87aac1be2aabd19935a6a255a569,20200729,66,MASCULINO,19540503.0,LIMA,LIMA,COMAS,20593,18517.0,1216.0
3,20210302,74c292a1a2c357a786b26a13fc839719,20200729,69,MASCULINO,19510314.0,LIMA,LIMA,COMAS,20593,18517.0,1216.0
4,20210302,229e060d0ece75f752a790eab2e4470d,20200729,71,MASCULINO,19490215.0,LIMA,LIMA,COMAS,20593,18517.0,1216.0
...,...,...,...,...,...,...,...,...,...,...,...,...
47084,20210302,5a88884f8b44e60cd1b48600e9f82275,20201125,49,MASCULINO,NaN,LIMA,LIMA,SAN MARTIN DE PORRES,20593,18517.0,1320.0
47085,20210302,06a96fa92f5ee82a29386e177cdb700f,20201128,65,MASCULINO,NaN,LIMA,LIMA,MAGDALENA DEL MAR,20593,18517.0,124.0
47086,20210302,d192565dac6c74ed120c402cbbdd3115,20201128,60,FEMENINO,NaN,ANCASH,SANTA,NUEVO CHIMBOTE,1878,1162.0,222.0
47087,20210302,01be7035823ed5f7b5de812af513bd60,20201125,62,FEMENINO,NaN,LIMA,LIMA,SAN MARTIN DE PORRES,20593,18517.0,1320.0
47088,20210302,80ef6326c8cf48002d98dce3a79b0369,20201125,66,FEMENINO,NaN,LIMA,LIMA,SAN MIGUEL,20593,18517.0,247.0

In [138]:
base_total['distr_prov']=(base_total['Muertos por distrito']/base_total['Muertos por provincia'])*100
base_total['prov_dpto']=(base_total['Muertos por provincia']/base_total['Muertos por departamento'])*100
base_total['distr_dpto']=(base_total['Muertos por provincia']/base_total['Muertos por departamento'])*100
Tabla_1 = base_total[['DEPARTAMENTO','PROVINCIA','DISTRITO','distr_prov']].round(2)
Tabla_1

      DEPARTAMENTO PROVINCIA              DISTRITO  distr_prov
0             LIMA      LIMA            CHORRILLOS        3.42
1             LIMA      LIMA                 COMAS        6.57
2             LIMA      LIMA                 COMAS        6.57
3             LIMA      LIMA                 COMAS        6.57
4             LIMA      LIMA                 COMAS        6.57
...            ...       ...                   ...         ...
47084         LIMA      LIMA  SAN MARTIN DE PORRES        7.13
47085         LIMA      LIMA     MAGDALENA DEL MAR        0.67
47086       ANCASH     SANTA        NUEVO CHIMBOTE       19.10
47087         LIMA      LIMA  SAN MARTIN DE PORRES        7.13
47088         LIMA      LIMA            SAN MIGUEL        1.33

[47089 rows x 4 columns]

### Genera una tabla donde se encuentre el porcentaje de muertos por cada provincia con respecto al departamento que pertenecen (llamen a la columna prov_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA y prov_dpto.

In [139]:
Tabla_2 = base_total[['DEPARTAMENTO','PROVINCIA','prov_dpto']].round(2)
Tabla_2

      DEPARTAMENTO PROVINCIA  prov_dpto
0             LIMA      LIMA      89.92
1             LIMA      LIMA      89.92
2             LIMA      LIMA      89.92
3             LIMA      LIMA      89.92
4             LIMA      LIMA      89.92
...            ...       ...        ...
47084         LIMA      LIMA      89.92
47085         LIMA      LIMA      89.92
47086       ANCASH     SANTA      61.87
47087         LIMA      LIMA      89.92
47088         LIMA      LIMA      89.92

[47089 rows x 3 columns]

### Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto al departamento que pertenecen (llamen a la columna distr_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO, distr_prov, prov_dpto y distr_dpto.

In [140]:
Tabla_3 = base_total[['DEPARTAMENTO','PROVINCIA','DISTRITO','distr_dpto']].round(2)

Tabla_3

      DEPARTAMENTO PROVINCIA              DISTRITO  distr_dpto
0             LIMA      LIMA            CHORRILLOS       89.92
1             LIMA      LIMA                 COMAS       89.92
2             LIMA      LIMA                 COMAS       89.92
3             LIMA      LIMA                 COMAS       89.92
4             LIMA      LIMA                 COMAS       89.92
...            ...       ...                   ...         ...
47084         LIMA      LIMA  SAN MARTIN DE PORRES       89.92
47085         LIMA      LIMA     MAGDALENA DEL MAR       89.92
47086       ANCASH     SANTA        NUEVO CHIMBOTE       61.87
47087         LIMA      LIMA  SAN MARTIN DE PORRES       89.92
47088         LIMA      LIMA            SAN MIGUEL       89.92

[47089 rows x 4 columns]

In [141]:
Tabla_1.to_csv("../../../save_data/Tabla_1_Roberto_Mendoza.csv")